<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Traziall - contactanos</title>
    <link rel="stylesheet" href="assets/vendor/material-icons/material-icons.css">
    <link rel="stylesheet" href="assets/ui/tw.css">
    <link rel="stylesheet" href="assets/ui/main.css">
    <link rel="stylesheet" href="assets/vendor/devicon/devicon.css">
    <link rel="stylesheet" href="assets/vendor/icofont-social/icofont-social.css">
</head>
<body class="index">
    <div id="app">
        <tz-header></tz-header>
        <div class="hidden md:block">
            <tz-frontanimate></tz-frontanimate>
        </div>
        <main class="relative mt-3 md:-mt-10">
            <section class="flex flex-wrap gap-5 mx-auto max-w-5xl mb-10">
                <div class="w-[320px] hidden md:block">
                    <div class="sticky top-5">
                        <tz-phone />
                    </div>
                </div>
                <div class="w-full md:grow md:basis-0">
                    <div class="block">
                        <header class="tz-header-chat mb-4">
                            <div class="flex items-center gap-4">
                                <figure class="tw-avatar rounded-full border-3 border-gray-600">
                                    <img class="rounded-full" src="assets/img/traziall-2-logo.jpg" alt="">
                                </figure>
                                <div class="grow basis-0">
                                    <h1>Traziall</h1>
                                    <p class="text-lg">Conversemos...</p>
                                </div>
                                <div class="text-xl opacity-25">
                                    <i class="mir mi-textsms"></i>
                                </div>
                            </div>
                        </header>
                        <article class="tw-chat">
                            <template v-if="respuestas.length">
                                <div class="mb-5 space-y-6">
                                    <component
                                        v-for="id in respuestas"
                                        :is="componentes[id]"
                                        :key="id"
                                    ></component>
                                </div>
                            </template>
                            <template v-else>
                                <div class="w-full h-60 flex justify-center items-center">
                                    <div class="text-center">
                                        <span class="text-2xl">
                                            <i class="mir mi-textsms"></i>
                                        </span>
                                        <p>Selecciona una pregunta.</p>
                                    </div>
                                </div>
                            </template>
                            <nav class="space-y-2">
                                <template v-for="item in preguntas">
                                    <button class="btn-question" @click="responder(item.id)" v-if="!item.seleccionado">
                                        <i class="mir mi-textsms"></i>
                                        <span>{{ item.label }}</span>
                                    </button>
                                </template>
                                <template v-if="!(preguntas.every(p => p.seleccionado))">
                                    <button type="button" class="btn-question center" @click="responder(null)">Ver todo</button>
                                </template>
                            </nav>
                        </article>
                    </div>
                </div>
            </section>
            <section class="tz-demoapps" style="background-image: url('./assets/img/fondo-cuadrillos.png');">
                <div class="body">
                    <menu>
                        <button type="button">
                            Características
                        </button>
                    </menu>
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 px-2">
                        <div class="nav">
                            <ul>
                                <li class="mb-2 text-gray-400">Demostraciones de características que logramos crear para una aplicación excepcional</li>
                                <li class="flex items-center">
                                    <i class="mir mi-home text-red-500"></i>
                                    <span class="font-semibold ml-2">Lorem</span>
                                </li>
                            </ul>
                        </div>
                        <div class="watch">
                            <div class="block bg-gray-800 border border-gray-700 rounded-md">
                                <header class="flex justify-between">
                                    <div class="flex gap-3 p-2">
                                        <div class="tw-icon">
                                            <i class="mi mi-home"></i>
                                        </div>
                                        <div>
                                            <h6>Queso ipsum dolore</h6>
                                            <p class="text-sm text-gray-400">Lorem ipsum dolor, sit amet.</p>
                                        </div>
                                    </div>
                                    <div class="flex justify-end gap-2 p-3">
                                        <button type="button">
                                            <i class="mir mi-chevron_left"></i>
                                        </button>
                                        <button type="button">
                                            <i class="mir mi-chevron_right"></i>
                                        </button>
                                    </div>
                                </header>
                                <div>
                                    <img src="assets/img/exp_screenshot_dark_a595173bb4.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <tz-footer></tz-footer>
    </div>
    <script src="assets/vendor/vue/vue-v3.js"></script>
    <script type="module" src="assets/vue/index/main.js"></script>
</body>
</html>