@use '../../vendor/_im-shadow' as *;
@use '../../vendor/colors' as *;

.launcher-banner {
    position: relative;
    width: var(--launcher-w);
    height: var(--launcher-h);
    display: flex;
    padding: 14px;
    .banner-content {
        width: calc(100% - 250px);
    }
    .banner-aside {
        width: 250px;
        padding-left: 20px;

        > ul {
            li + li {
                margin-top: 0.5rem;
            }
            li {
                --theme-bg: rgba(#fff, 0.3);
                display: flex;
                flex-wrap: wrap;
                gap: 18px;
                align-items: center;
                padding: 5px;
                color: #fff;
                font-weight: 600;
                border-radius: 0 100px 100px 0;
                background-image: linear-gradient(90deg, transparent, var(--theme-bg));
                .content {
                    flex: 1 0 0;
                    text-align: right;
                }
                figure {
                    width: 45px;
                    height: 45px;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border: 2px solid rgba(#fff, 0.35);
                        border-radius: 50%;
                    }
                }
                &.anemo {
                    --theme-bg: #{tw-color('cyan', '500', 0.35)};
                }
                &.pyro {
                    --theme-bg: #{tw-color('red', '500', 0.35)};
                }
                &.hydro {
                    --theme-bg: #{tw-color('blue', '500', 0.35)};
                }
                &.electro {
                    --theme-bg: #{tw-color('purple', '500', 0.35)};
                }
                &.dendro {
                    --theme-bg: #{tw-color('green', '500', 0.35)};
                }
                &.geo {
                    --theme-bg: #{tw-color('amber', '500', 0.35)};
                }
                &.cryo {
                    --theme-bg: #{tw-color('sky', '500', 0.35)};
                }
            }
        }
    }

    .btn-play {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .acquired {
            display: block;
            min-width: 300px;
            width: auto;
            border-left: 3px solid tw-color('sky', '500');
            padding: 5px 20px;
            background-image: linear-gradient(90deg, tw-color('cyan', '500', 0.5), tw-color('sky', '500', 0.5), transparent);
            p {
                color: #fff;
                font-weight: 600;
            }
        }
        ul {
                margin-top: 0.5rem;
            display: flex;
            align-items: center;
            gap: 8px;
            li {
                figure {
                    width: 35px;
                    height: 35px;
                    border-radius: 100px;
                    border: 2px solid rgba(#fff, 0.4);
                    background-color: rgba(#fff, 0.2);
                    overflow: hidden;
                    img {
                        width: 100;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                    }
                }
            }
        }
        button {
            border: 1px solid tw-color('sky', '400', 0.5);
            display: block;
            padding: 0 25px;
            width: 200px;
            border-radius: 100px;
            text-transform: uppercase;
            font-weight: 600;
            background-color: tw-color('sky', '400', 0.15);
            font-size: 0.9rem;
            color: tw-color('sky', '300');
            user-select: none;
            &:hover {
                background-color: tw-color('sky', '400', 0.5);
            }
            &:active {
                transform: translateY(1px);
            }
            &:disabled {
                opacity: 0.5;
            }
        }
    }

    .elements {
        display: block;
        margin-top: 4rem;
        margin-bottom: 2rem;
        width: 100%;
        ul {
            height: 350px;
            display: grid;
            grid-template-columns: repeat(10, 1fr);
            gap: 10px;
            li {
                --light-bg: #{rgba(#fff, 0.25)};
                position: relative;
                border: 1px solid rgba(#fff, 0.15);
                border-top: none;
                border-radius: 0 0 10px 10px;
                background-image: linear-gradient(transparent, var(--light-bg));

                &.active {
                    --light-bg: #{tw-color('sky', '500', 0.5)};
                    border-color: green;
                    .bg {
                        opacity: 0.75;
                    }
                }
                &.active-end {
                    --light-bg: #{tw-color('amber', '500', 0.5)};
                    border-color: gold;
                    .bg {
                        opacity: 1;
                    }
                }
                .avatar {
                    position: absolute;
                    bottom: 1rem;
                    width: 45px;
                    height: 45px;
                    left: 50%;
                    transform: translateX(-50%);
                    img {
                        box-shadow: shadow_iii();
                        width: 45px;
                        height: 45px;
                        border-radius: 50%;
                        border: 3px solid rgba(#fff, 0.15);
                    }
                }
                .bg {
                    position: absolute;
                    top: 0;
                    left: 0;
                    opacity: 0.3;
                    width: 100%;
                    height: 100%;
                    transition: 150ms ease-out;
                    transition-property: opacity;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: right;
                    }
                }
            }
        }
    }
}