@use '../../vendor/_im-shadow' as *;

.ui-display {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-position: bottom;
    position: relative;
    padding: 22px;

    button {
        cursor: pointer;
    }
}

.panel-menu {
    z-index: 15;
    position: fixed;
    padding: 4px 0;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid rgba(#8AC9FF, 0.3);
    background-image: linear-gradient(45deg, rgba(#629DFF, 0.5), rgba(#BC66FF, 0.5));
    backdrop-filter: blur(4px);
    > ul {
        display: flex;
        justify-content: center;
        gap: 8px;
        align-items: center;
        li {
            button {
                width: 45px;
                height: 45px;
                display: block;
                padding: 4px;
                overflow: hidden;
                color: #fff;
                border-radius: 4px;
                transition: 100ms ease;
                transition-property: transform, background-color;
                &:hover {
                    background-color: rgba(#8AC9FF, 0.35);
                }
                &:active {
                    transform: scale(0.95);
                }
            }
            figure {
                width: 37px;
                height: 37px;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                font-size: 1.3rem;
            }
            fieldset {
                display: flex;
                width: 150px;
                background-color: rgba(#fff, 0.25);
                align-items: center;
                gap: 5px;
                padding-left: 10px;
                border-radius: 100px;
                i {
                    color: #fff;
                }
                input {
                    color: #fff;
                    padding: 8px 10px;
                    outline: none;
                    width: 100px;
                }
            }
        }
    }
}

.app-access {
    --access-w: 70px;
    position: absolute;
    top: 1rem;
    left: 1rem;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: var(--access-w);

    >li {
        display: block;

        a,
        button {
            width: var(--access-w);
            height: var(--access-w);
            box-shadow: shadow_i();
            border-radius: 12px;
            display: block;
            overflow: hidden;
            border: 3px solid rgba(#8AC9FF, 0.3);
            transition: 80ms linear;
            transition-property: transform;

            &:active {
                transform: scale(0.95);
            }
        }
    }
}