@use 'index-ui/sass/fondo-animate.scss';
@use 'index-ui/sass/im-phone.scss';
@use 'index-ui/sass/animate.scss';

/**
 * APP styles
 */


/**
 * Launcher
 */

@use 'launcher-ui/sass/ui-display.scss';
@use 'launcher-ui/sass/ui-launcher.scss';
@use 'launcher-ui/sass/launcher-play.scss';
@use 'launcher-ui/sass/launcher-banner.scss';
@use 'launcher-ui/sass/effect-particles.scss';