.card-notifics {
    background-color: var(--color-white);
    display: block;
    position: relative;
    width: 390px;
    box-shadow: var(--shadow-md);
    border-radius: 8px;

    .card-notifics-header {
        display: flex;
        justify-content: space-between;
        padding: 15px;
        align-items: center;
        border-bottom: 1px solid var(--color-slate-200);

        .header-action {
            * + * {
                margin-left: .5rem;
            }
        }
    }

    .card-notifics-body {
        display: block;
        height: 250px;
        padding: 15px;
    }
}