.drag-items {
    >li+li {
        margin-top: .25rem;
    }

    .drag-item {
        touch-action: none;
        -webkit-user-drag: none;
        user-select: none;
        display: block;
        background-color: var(--color-gray-100);
        border-radius: 7px;
        padding: 14px 14px;
        cursor: grab;

        &.elevate {
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        }

        &::after {
            font-family: Material Icons Round;
            content: '\e945';
            display: block;
            float: right;
            color: var(--color-slate-400);
        }

        >i {
            display: inline-block;
            margin-right: .5rem;
            color: #9C9C9C;
            font-size: 0.8rem;
            &:first-child {
                transform: scale(1.15);
            }
        }
    }
}