.navegation-top {
    z-index: 10;
    position: relative;
    padding: 14px 20px;
    margin: 0;
    background-color: var(--color-white);
    border-bottom: 1px solid var(--color-slate-200);

    a {
        text-decoration: none;
        color: inherit;
    }

    .breadcrumb-project > ul,
    .navegation-links > ul,
    .navegation-btns,
    .navegation-content {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .navegation-content {
        justify-content: space-between;
    }

    .navegation-btns {
        gap: 8px;
    }

    .breadcrumb-project {
        font-size: .9rem;

        >ul {
            >li:first-child {
                &::after {
                    content: '/';
                    margin-right: .5rem;
                    margin-left: .5rem;
                    display: inline-block;
                    transform: scale(1.1);
                    opacity: .35;
                }
            }
        }

        .badge-message {
            font-size: .75rem;

            &.success {
                color: var(--color-green-700);
            }
        }
    }

    .navegation-links {
        font-size: .9rem;

        .block-link {
            display: block;
            padding: 10px 0;
        }

        > ul {
            gap: 25px;

            > li:last-child {
                border-left: 1px solid var(--color-slate-300);
                padding-left: 25px;
            }
        }
    }

    .button-profile {
        display: flex;
        align-items: center;
        gap: 5px;
        --avatar-size: 30px;

        img {
            border-radius: 50%;
            object-fit: cover;
            object-position: center;
            width: var(--avatar-size);
            height: var(--avatar-size);
        }
    }
    .mir {
        vertical-align: middle;
    }
}

.menu-controls {
    list-style: none;
    padding: 10px 0;
    width: 250px;
    background-color: #fff;
    box-shadow: var(--shadow-md);
    h6 {
        display: block;
        padding: 10px;
        background-color: rgba(#000, 0.1);
    }
    > ul + ul {
        border-top: 1px solid rgba(#000, 0.1);
    }
    li > a,
    li > button {
        display: block;
        padding: 10px 10px;
        border: none;
        width: 100%;
        text-align: left;
        &:hover {
            background-color: rgba(#000, 0.025);
        }
        &:active {
            background-color: rgba(#000, 0.05);
        }
        > i {
            margin-right: 0.5rem;
            vertical-align: middle;
        }
    }
}