.ul-sortable {
    @apply grid gap-5 grid-cols-1 md:grid-cols-2;
    .group {
        @apply w-auto;
        &.shopping-cart {
            @apply relative border border-dashed border-gray-700 p-4 rounded-lg;
        }
        > ul {
            @apply grid grid-cols-3 gap-4 items-start min-h-20 md:min-h-full;
        }
        > ul li {
            @apply flex items-center py-3 justify-center bg-gray-800 shadow-md rounded-md cursor-move select-none lg:select-auto touch-none lg:touch-auto;
        }
    }
}

span.span-title {
    @apply inline-flex text-gray-400 items-center gap-2 text-sm shadow-md bg-gray-800 border border-gray-700 py-0.5 px-2 rounded-md absolute -top-[14px];
    * {
        @apply leading-0;
    }
}

.tw-form {
    @apply grid grid-cols-3 gap-3 mt-5 px-5 rounded-t-lg md:rounded-t-none py-10 md:px-10 bg-gray-800 mx-4 md:mx-0;
    div {
        @apply w-auto;
        fieldset {
            @apply border rounded-md border-gray-700 bg-gray-800/50 shadow-sm;
            legend {
                @apply text-sm ml-2 text-gray-400;
            }
            textarea,
            input {
                @apply outline-0 py-1 px-2 w-full resize-y;
            }
        }
    }
    button {
        @apply leading-3 cursor-pointer items-center flex justify-center gap-2 text-green-400 py-1 px-3 bg-green-800/20 rounded-md border border-green-800/50;
        p {
            @apply mb-1;
        }
        i {
            @apply text-2xl;
        }
        small {
            @apply text-green-700;
        }
    }
}